@page
@model BuildProjectSummer2024.Pages.Patient.EditModel
@{
}

<h2>@(Model.Patient.Id == 0 ? "Add Patient" : "Edit Patient")</h2>

<form method="post">

    <input type="hidden" asp-for="Patient.Id" />
    <div class="form-group">
        <label asp-for="Patient.FirstName"></label>
        <input asp-for="Patient.FirstName" class="form-control" />
        <span asp-validation-for="Patient.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patient.LastName"></label>
        <input asp-for="Patient.LastName" class="form-control" />
        <span asp-validation-for="Patient.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patient.Dob"></label>
        <input asp-for="Patient.Dob" class="form-control" type="date" />
        <span asp-validation-for="Patient.Dob" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patient.Gender"></label>
        <input asp-for="Patient.Gender" class="form-control" />
        <span asp-validation-for="Patient.Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patient.Adress"></label>
        <input asp-for="Patient.Adress" class="form-control" />
        <span asp-validation-for="Patient.Adress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patient.City"></label>
        <input asp-for="Patient.City" class="form-control" />
        <span asp-validation-for="Patient.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patient.State"></label>
        <input asp-for="Patient.State" class="form-control" />
        <span asp-validation-for="Patient.State" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patient.Zip"></label>
        <input asp-for="Patient.Zip" class="form-control" />
        <span asp-validation-for="Patient.Zip" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patient.Phone"></label>
        <input asp-for="Patient.Phone" class="form-control" />
        <span asp-validation-for="Patient.Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patient.HospitalId"></label>
        <select asp-for="Patient.HospitalId" class="form-control" asp-items="Model.Hospitals"></select>
        <span asp-validation-for="Patient.HospitalId" class="text-danger"></span>
    </div>
    </br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}